@page
@model ManufacturerProfileModel
@{

}


<head>
    
</head>

<body background="https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg">
    <h1>ManufacturerProfile</h1>
    <h2 class="text-center text-success">@Model.Manufacturer.Name</h2>
    <div class="row">

        <div class="col-md-6">
            <h3>Manufacturer Details</h3>
            <dl>
                <dd>Name</dd>
                <dt>@Model.Manufacturer.Name</dt>

            </dl>

        </div>
        <div class="col-md-6">
            <h3>Collection</h3>



            <table style="width:100%" class="table table-bordered table-striped">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Deep Dive Compatible</th>
                    <th>Life time Warranty</th>
                </tr>
                @foreach (var wristWatch in Model.Manufacturer.Watches)
                {
                    <tr>
                        <td>@wristWatch.Name</td>
                        <td>@wristWatch.PriceUSD</td>
                        <td>@wristWatch.DeepDiveCompatible</td>
                        <td>
                            @if (wristWatch.PriceUSD < 10000)
                            {
                                <text>No</text>
                            }
                            else
                            {
                                <text>Yes</text>
                            }
                        </td>
                    </tr>

                }


            </table>



        </div>
    </div>
</body>
