@page
@model FinalProjectV2.Pages.Tournaments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].TournamentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].TournamentStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].TournamentEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tournament) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.AdminName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
