@page
@model CoreCrud.Pages.Watches.IndexModel

@{
    ViewData["Title"] = "Index";
}
    <body background="https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg">
        <h1>Wrist Watches</h1><br />


        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKieMsrJTAAlL-QeONULuOHwSZ5h4_emN0UoagAMoSCcJT_IaV" class="img-fluid" alt="Cinque Terre" width="500" height="500">
        <br />
        <p>A new Watch can be added by Clicking the "Create New" button below. Click on the "Edit" Button to update Wrist-Watch information, "Details" Button to View all details associated with a watch and "Delete" Button to delete a watch</p>
        <p>
            <a asp-page="Create">Create New(Click to add a new Watch)</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WristWatch[0].Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.WristWatch[0].ManufacturingDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WristWatch[0].StrapMaterial)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WristWatch[0].HighWaterResistance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WristWatch[0].PriceUSD)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WristWatch[0].Manufacturer)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.WristWatch)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ManufacturingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StrapMaterial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HighWaterResistance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceUSD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>