@page
@model CoreCrud.Pages.Manufacturers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<body background= "https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg">

        <h1>Manufacturers</h1> 
        <p> A new manufacturer can be added by Clicking the "Add a new Manufacturer" button below. Click on the "Edit" Button to update manufacturer information, "Details" Button to View all details associated with a Manufacturer and "Delete" Button to delete the manufacturer</p>

        <p>
            <a asp-page="Create">Add a new Manufacturer </a></p>

                      
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Manufacturer[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Manufacturer[0].CountryofOrigin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Manufacturer[0].CountryCode)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Manufacturer)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryofOrigin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryCode)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </body>